@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .carousel img {
    width: 100%;
    object-fit: cover;
  }

  main {
    padding: 0 !important;
  }

  .servicio-card,
  .form-group {
    padding: 10px;
    margin-bottom: 10px;
  }

  /* Formularios al 100% */
  #contacto,
  #login-form,
  #registro {
    padding: 0 !important;
    border-radius: 0;
  }
}
