@media (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #carouselExample {
    height: 250px !important;
  }

  .servicio-card img{
    width: 100%;
    height: auto;
  }

  .carousel img {
    width: 100%;
    object-fit: cover;
    height: auto;
    max-height: 250px;
  }

  main {
    padding: 0 !important;
  }

  .servicio-card,
  .form-group {
    border-radius: 0px;
  }

  /* Formularios al 100% */
  #contacto,
  #login-form,
  #registro {
    padding: 0 !important;
    border-radius: 0;
  }

  .container{
    padding: 0 !important;
    border-radius: 0px;
  }
}
